{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ClassTracker
{% endblock %}

{% block content %}
<div class="container">

  <div class="modal fade" id="modal-add-class" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Class</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form" id="add-class-form" action="{{ url_for('classes') }}" method="POST">
            {{ form.csrf_token() }}
            <div class="form-group required">
              {{ form.name.label(class_="control-label") }}
              {{ form.name(class_="form-control") }}
            </div>
            <div class="form-group required">
              {{ form.description.label(class_="control-label") }}
              {{ form.description(class_="form-control") }}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button tpye="submit" form="add-class-form" class="btn btn-primary">Create Class</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h3>My Classes</h3>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-12 text-center">
      <a class="btn btn-primary" data-toggle="modal" data-target="#modal-add-class" href="#">Add Class</a>
    </div>
  </div>
  <div class="row">
    {% for c in classes %}
      <div class="col-12 col-sm-6 col-md-4 mb-3">

        <div class="modal fade" id="modal-edit-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                Edit {{ c.name }}
              </div>
              <div class="modal-body">
                <form id="form-edit-{{loop.index}}" action="{{ url_for('classes') }}" method="POST">
                  {{ form.csrf_token() }}
                  {{ form.class_data(value=c.code) }}
                  <div class="form-group required">
                    {{ form.name.label(class_="control-label") }}
                    {{ form.name(class_="form-control") }}
                  </div>
                  <div class="form-group required">
                    {{ form.description.label(class_="control-label") }}
                    {{ form.description(class_="form-control") }}
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button form="form-edit-{{ loop.index }}" type="submit" class="btn btn-primary">Update Class</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ c.name }}</h5>
            <div class="card-text">
              {{ c.desc }}
            </div>
          </div>
          <div class="card-footer">
            <a class="btn btn-outline-primary btn-sm" href="{{ url_for('class_view', id=c.code) }}">View</a>
            <a class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#modal-edit-{{ loop.index }}">Edit</a>
            <a class="btn btn-outline-danger btn-sm" href="{{ url_for('delete_class', id=c.code) }}">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
