{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">What is this web app?</h5>
          <hr>
          <div class="card-text">
            This web app is a live-polling website to better the communication between professors and students during the lecture time.
            Professors are able to create joinable lecture space, containing a list of topics that will be covered in the current lecture.
            Students then join said lecture space on their phone/laptop using the lecture code. Students vote on each topic whether they do or don’t understand it,
            as they are touched on in class. These votes are conveyed in real time to the professors screen so he/she could see what percent of the class understands
            the different topics being discussed.
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">How do I join lecture space?</h5>
          <hr>
          <div class="card-text">
            To join a lecture space, navigate to the homepage and type in the lecture code your teacher/professor provides into
            the lecture join input space. Then click join lecture. If the code you entered was correct, you will be added to the lecture.
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">How do I create a lecture space?</h5>
          <hr>
          <div class="card-text">
            To create a lecture space you must first register for an account. Once you are logged in, navigate to the 'classes' page.
            Classes contain lecture spaces, first create a class, and then add lectures to it to create lecture spaces.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
