{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ClassTracker
{% endblock %}

{% block content %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-8">
              <div class="card border-primary">
                <div class="card-header">
                  <h3 class="card-title">Join a Lecture</h3>
                  <h6 class="card-subtitle mb-2 text-muted">Enter the lecture code below and click submit to join!</h6>
                </div>
                <div class="card-body text-primary">
                              <form name="joinlecture" method="POST" action="{{ url_for('lecture') }}">
                                  {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
                              </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
