{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  var socket = null;

  $(document).ready(function() {
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    // Handling data sent from the server
    socket.on('my_response', function(msg) {
      $('#log').append('<br>' + $('<div/>').text('Received: ' + msg.data).html());
    });

    socket.on('vote_response', function(msg) {
      size = (msg.sum / msg.total) * 100
      $('#pbs-' + msg.index).css('width', size + '%');
      $('#pbs-' + msg.index).html(size.toFixed(2) + '%')
      $('#pbd-' + msg.index).css('width', 100 - size + '%');
    });


    // Printing connection
    socket.on('connect', function() {
      console.log("voting client connected");
    });

    // Printing any errors
    socket.on('connect_error', function(err) {
      console.log("client connect_error: ", err);
    });

    // Printing if connection timeout
    socket.on('connect_timeout', function(err) {
      console.log("client connect_timeout: ", err);
    });
  });

  function send_vote(id, index, val) {
    if (socket != null) {
      socket.emit('vote', {
        id: id,
        index: index,
        vote: val
      });
    } else {
      console.log("Cannot send message, there is no socket connection.");
    }
  }
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <h2>Lecture: {{ lecture[0].name }}</h2>
  </div>
  <div class="row justify-content-center">
    <h4 style="margin-bottom:20px">Lecture Code: {{ lecture[0].id }}</h4>
  </div>
  <div class="row">
    {% for topic in topics %}
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ topic.name }}</h5>
          <p class="card-text">{{ topic.topicDescription }}</p>
          <div class="progress">
            <div id="pbs-{{ loop.index }}" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ (topic.ratingSum/topic.ratingTot)*100 }}%" aria-valuenow="{{ (topic.ratingSum/topic.ratingTot)*100 }}"
              aria-valuemin="0" aria-valuemax="100">{{ '%.2f' % ((topic.ratingSum/topic.ratingTot)*100) }}%</div>
            <div id="pbd-{{ loop.index }}" class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ 100-(topic.ratingSum/topic.ratingTot)*100 }}%" aria-valuenow="{{ 100-(topic.ratingSum/topic.ratingTot)*100 }}"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" id="r" name="rating" onclick="send_vote({{ topic.id }}, {{ loop.index }}, '1')" class="btn btn-outline-success btn-sm">I understand</button>
          <button type="submit" id="r" name="rating" onclick="send_vote({{ topic.id }}, {{ loop.index }}, '0')" class="btn btn-outline-danger btn-sm">I do not understand</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
