{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lectureDetails.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="modal fade" id="modal-add-topic" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Topic</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form" id="add-topic-form" action="{{ url_for('lectureDetails', lecture_id=lecture[0].id) }}" method="POST">
            {{ form.csrf_token() }}
            {{ form.topic_data(value="") }}
            <div class="form-group required">
              {{ form.name.label(class_="control-label") }}
              {{ form.name(class_="form-control") }}
            </div>
            <div class="form-group required">
              {{ form.description.label(class_="control-label") }}
              {{ form.description(class_="form-control") }}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button tpye="submit" form="add-topic-form" class="btn btn-primary">Create Topic</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <div class="card border-primary mb-3">
        <div class="card-header">
          <h3 class="card-title">{{ clss[0].name + "/" + lecture[0].name }}</h3>
          <br>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-add-topic" href="#" onclick="clearForm()">Add Topic</a>
            </div>
            <div class="col">
              <a class="btn btn-primary disabled btn-sm" id="editTopic" data-toggle="modal" data-target="#modal-add-topic" href="#">Edit Topic</a>
            </div>
            <div class="col">
              <a class="btn btn-primary disabled btn-sm" id="deleteTopic" href="#">Delete Topic</a>
            </div>
            <div class="col">
              <a class="btn btn-primary disabled btn-sm" id="resetTopic" href="#" onclick="resetTopicVotingStats()">Reset Votes</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="lectures_list" style="overflow-y: scroll; max-height: 400px">
            <ul class="list-group">
              <li class="list-group-item disabled">
                <div class="float-left font-weight-bolder">Topics</div>
                <div class="float-right font-weight-bolder">Last Edited</div>
              </li>
              {% for topic in topics %}
              <li class="list-group-item" id="{{ topic.id }}" onclick="updateTopicId(this.id)">
                <div class="float-left">{{ topic.name }}</div>
                <div class="float-right">{{ topic.date }}</div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
