{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8">
      <div class="card border-primary">
        <div class="card-header">
          <h3 class="card-title">Account Login</h3>
        </div>
        <div class="card-body text-primary">
          <form name="register" method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token() }}
            <div class="form-group">
              {{ form.email.label(class_="control-label") }}
              {{ form.email(class_="form-control") }}
            </div>
            <div class="form-group">
              {{ form.password.label(class_="control-label") }}
              {{ form.password(class_="form-control") }}
            </div>
            {{ form.submit(class_="btn btn-primary") }}
            <a class="btn btn-primary" href="{{ url_for('register') }}" role="button">Register</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
