{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8">
      <div class="card border-primary">
        <div class="card-header">
          <h3 class="card-title">Create an Account</h3>
        </div>
        <div class="card-body text-primary">
          <form name="register" method="POST" action="{{ url_for('register') }}" onsubmit="">
            {{ form.csrf_token() }}
            <div class="form-group">
              {{ form.email.label(class_="control-label") }}
              {{ form.email(class_="form-control") }}
              <small id="emailHelp" class="form-text text-muted">We'll never share your email.</small>
            </div>
            <div class="form-group">
              {{ form.password.label(class_="control-label") }}
              {{ form.password(class_="form-control") }}
              <small id="passwordHelp" class="form-text text-muted">Passwords must be atleast 8 letters long, contain an uppercase letter, and contain a number.</small>
            </div>
            {{ form.submit(class_="btn btn-primary") }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
